<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ title }}</h1>

    <div class="list-container">
      <a mat-list-item class="links" routerLink="/">Home</a>
      <a mat-list-item class="links" routerLink="/users">Users</a>
      <a
        mat-list-item
        class="links"
        *ngIf="dataService.isLoggedIn$ | async"
        (click)="logout()"
        >Logout</a
      >
      <a
        mat-list-item
        class="links"
        routerLink="/login"
        *ngIf="!(dataService.isLoggedIn$ | async)"
        >Login</a
      >
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 64 : 0"
  >
    <mat-sidenav
      #snav
      color="accent"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="mobileQuery.matches ? 'false' : 'true'"
    >
      <mat-nav-list>
        <div class="nav-link-group">
          <a mat-list-item routerLink="/">Home</a>
          <a mat-list-item routerLink="orders">Orders</a>
          <a mat-list-item routerLink="products">Products</a>
          <a mat-list-item routerLink="categories">Categories</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
